<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Show Dog</title>
</head>
<body>
	<a href="/"><button>Dashboard</button></a>
	<h1>Dog Name: <%= dog.name %></h1>
	<p>Breed: <%= dog.breed %></p>
	<a href="/dogs/edit/<%= dog._id %>"><button>Edit Dog</button></a>
</body>
</html>